body {
    background: linear-gradient(
      90deg,
      rgb(23,71,157) 25%,
      rgba(255,255,255) 100%
    );
}

.cms-wrap {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 1200px;
    min-height: 600px;
    background: white;
    text-align: center;
    margin: 128px auto;
    border-radius: 10px;
    padding-bottom: 32px;
}
